# Параметры БД для Docker и SQLAlchemy
POSTGRES_USER=___
POSTGRES_PASSWORD=___
POSTGRES_DB=board_games
POSTGRES_PORT=5432
POSTGRES_HOST=db

# Параметры приложения
FRONTEND_URL=http://141.8.199.42
BACKEND_URL=http://141.8.199.42
ALLOWED_HOSTS=141.8.199.42,localhost,backend

# OAuth Яндекс
YANDEX_CLIENT_ID=___
YANDEX_CLIENT_SECRET=___

# Константы API Яндекса (их тоже можно вынести, если хочется гибкости)
YANDEX_AUTH_URL=https://oauth.yandex.ru/authorize
YANDEX_TOKEN_URL=https://oauth.yandex.ru/token
YANDEX_INFO_URL=https://login.yandex.ru/info

#JWT
SECRET_KEY=___

#Админы по-умолчанию
ADMIN_EMAILS=___

#github
GITHUB_TOKEN=___
GITHUB_REPO_NAME=pathfindercharactersheetonline/5XP-league-public