# Параметры БД для Docker и SQLAlchemy
POSTGRES_USER
POSTGRES_PASSWORD
POSTGRES_DB
POSTGRES_PORT
POSTGRES_HOST

# Параметры приложения
FRONTEND_URL
BACKEND_URL

# OAuth Яндекс
YANDEX_CLIENT_ID
YANDEX_CLIENT_SECRET

# Константы API Яндекса (их тоже можно вынести, если хочется гибкости)
YANDEX_AUTH_URL
YANDEX_TOKEN_URL
YANDEX_INFO_URL

#JWT
SECRET_KEY